## 1. DATA SOURCING

### Loading data into Dataframe.

In [1]:
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
import seaborn as sns
import math

sns.set(style="whitegrid")

pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)



df = pd.read_csv(r"C:\Users\Preeti\Downloads\application_data.csv")

## 2. DATA CLEANING

In [2]:
# Determining the shape of the datset

df.shape

(307511, 122)

In [3]:
# method to get Meta-Data about any dataframe passed 
def get_data(dataframe) :
    data = pd.DataFrame({
            
                    'Total_Element': dataframe.count(), # total elements in columns
                    'Datatype' : dataframe.dtypes, # data types of columns
                    'Null_Count': dataframe.isnull().sum(), # total null values in columns
                    'Null_Percentage': dataframe.isnull().sum()/len(dataframe) * 100 # percentage of null values
        
                       })
    return data

In [4]:
loan_data = get_data(df)
loan_data

,Total_Element,Datatype,Null_Count,Null_Percentage
SK_ID_CURR,307511,int64,0,0.000000
TARGET,307511,int64,0,0.000000
NAME_CONTRACT_TYPE,307511,object,0,0.000000
CODE_GENDER,307511,object,0,0.000000
FLAG_OWN_CAR,307511,object,0,0.000000
FLAG_OWN_REALTY,307511,object,0,0.000000
CNT_CHILDREN,307511,int64,0,0.000000
AMT_INCOME_TOTAL,307511,float64,0,0.000000
AMT_CREDIT,307511,float64,0,0.000000
AMT_ANNUITY,307499,float64,12,0.003902
AMT_GOODS_PRICE,307233,float64,278,0.090403
NAME_TYPE_SUITE,306219,object,1292,0.420148
NAME_INCOME_TYPE,307511,object,0,0.000000
NAME_EDUCATION_TYPE,307511,object,0,0.000000
NAME_FAMILY_STATUS,307511,object,0,0.000000
NAME_HOUSING_TYPE,307511,object,0,0.000000
REGION_POPULATION_RELATIVE,307511,float64,0,0.000000
DAYS_BIRTH,307511,int64,0,0.000000
DAYS_EMPLOYED,307511,int64,0,0.000000
DAYS_REGISTRATION,307511,float64,0,0.000000
DAYS_ID_PUBLISH,307511,int64,0,0.000000
OWN_CAR_AGE,104582,float64,202929,65.990810
FLAG_MOBIL,307511,int64,0,0.000000
FLAG_EMP_PHONE,307511,int64,0,0.000000
FLAG_WORK_PHONE,307511,int64,0,0.000000
FLAG_CONT_MOBILE,307511,int64,0,0.000000
FLAG_PHONE,307511,int64,0,0.000000
FLAG_EMAIL,307511,int64,0,0.000000
OCCUPATION_TYPE,211120,object,96391,31.345545
CNT_FAM_MEMBERS,307509,float64,2,0.000650
REGION_RATING_CLIENT,307511,int64,0,0.000000
REGION_RATING_CLIENT_W_CITY,307511,int64,0,0.000000
WEEKDAY_APPR_PROCESS_START,307511,object,0,0.000000
HOUR_APPR_PROCESS_START,307511,int64,0,0.000000
REG_REGION_NOT_LIVE_REGION,307511,int64,0,0.000000
REG_REGION_NOT_WORK_REGION,307511,int64,0,0.000000
LIVE_REGION_NOT_WORK_REGION,307511,int64,0,0.000000
REG_CITY_NOT_LIVE_CITY,307511,int64,0,0.000000
REG_CITY_NOT_WORK_CITY,307511,int64,0,0.000000
LIVE_CITY_NOT_WORK_CITY,307511,int64,0,0.000000
ORGANIZATION_TYPE,307511,object,0,0.000000
EXT_SOURCE_1,134133,float64,173378,56.381073
EXT_SOURCE_2,306851,float64,660,0.214626
EXT_SOURCE_3,246546,float64,60965,19.825307
APARTMENTS_AVG,151450,float64,156061,50.749729
BASEMENTAREA_AVG,127568,float64,179943,58.515956
YEARS_BEGINEXPLUATATION_AVG,157504,float64,150007,48.781019
YEARS_BUILD_AVG,103023,float64,204488,66.497784
COMMONAREA_AVG,92646,float64,214865,69.872297
ELEVATORS_AVG,143620,float64,163891,53.295980
ENTRANCES_AVG,152683,float64,154828,50.348768
FLOORSMAX_AVG,154491,float64,153020,49.760822
FLOORSMIN_AVG,98869,float64,208642,67.848630
LANDAREA_AVG,124921,float64,182590,59.376738
LIVINGAPARTMENTS_AVG,97312,float64,210199,68.354953
LIVINGAREA_AVG,153161,float64,154350,50.193326
NONLIVINGAPARTMENTS_AVG,93997,float64,213514,69.432963
NONLIVINGAREA_AVG,137829,float64,169682,55.179164
APARTMENTS_MODE,151450,float64,156061,50.749729
BASEMENTAREA_MODE,127568,float64,179943,58.515956
YEARS_BEGINEXPLUATATION_MODE,157504,float64,150007,48.781019
YEARS_BUILD_MODE,103023,float64,204488,66.497784
COMMONAREA_MODE,92646,float64,214865,69.872297
ELEVATORS_MODE,143620,float64,163891,53.295980
ENTRANCES_MODE,152683,float64,154828,50.348768
FLOORSMAX_MODE,154491,float64,153020,49.760822
FLOORSMIN_MODE,98869,float64,208642,67.848630
LANDAREA_MODE,124921,float64,182590,59.376738
LIVINGAPARTMENTS_MODE,97312,float64,210199,68.354953
LIVINGAREA_MODE,153161,float64,154350,50.193326
NONLIVINGAPARTMENTS_MODE,93997,float64,213514,69.432963
NONLIVINGAREA_MODE,137829,float64,169682,55.179164
APARTMENTS_MEDI,151450,float64,156061,50.749729
BASEMENTAREA_MEDI,127568,float64,179943,58.515956
YEARS_BEGINEXPLUATATION_MEDI,157504,float64,150007,48.781019
YEARS_BUILD_MEDI,103023,float64,204488,66.497784
COMMONAREA_MEDI,92646,float64,214865,69.872297
ELEVATORS_MEDI,143620,float64,163891,53.295980
ENTRANCES_MEDI,152683,float64,154828,50.348768
FLOORSMAX_MEDI,154491,float64,153020,49.760822
FLOORSMIN_MEDI,98869,float64,208642,67.848630
LANDAREA_MEDI,124921,float64,182590,59.376738
LIVINGAPARTMENTS_MEDI,97312,float64,210199,68.354953
LIVINGAREA_MEDI,153161,float64,154350,50.193326
NONLIVINGAPARTMENTS_MEDI,93997,float64,213514,69.432963
NONLIVINGAREA_MEDI,137829,float64,169682,55.179164
FONDKAPREMONT_MODE,97216,object,210295,68.386172
HOUSETYPE_MODE,153214,object,154297,50.176091
TOTALAREA_MODE,159080,float64,148431,48.268517
WALLSMATERIAL_MODE,151170,object,156341,50.840783
EMERGENCYSTATE_MODE,161756,object,145755,47.398304
OBS_30_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
DEF_30_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
OBS_60_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
DEF_60_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
DAYS_LAST_PHONE_CHANGE,307510,float64,1,0.000325
FLAG_DOCUMENT_2,307511,int64,0,0.000000
FLAG_DOCUMENT_3,307511,int64,0,0.000000
FLAG_DOCUMENT_4,307511,int64,0,0.000000
FLAG_DOCUMENT_5,307511,int64,0,0.000000
FLAG_DOCUMENT_6,307511,int64,0,0.000000
FLAG_DOCUMENT_7,307511,int64,0,0.000000
FLAG_DOCUMENT_8,307511,int64,0,0.000000
FLAG_DOCUMENT_9,307511,int64,0,0.000000
FLAG_DOCUMENT_10,307511,int64,0,0.000000
FLAG_DOCUMENT_11,307511,int64,0,0.000000
FLAG_DOCUMENT_12,307511,int64,0,0.000000
FLAG_DOCUMENT_13,307511,int64,0,0.000000
FLAG_DOCUMENT_14,307511,int64,0,0.000000
FLAG_DOCUMENT_15,307511,int64,0,0.000000
FLAG_DOCUMENT_16,307511,int64,0,0.000000
FLAG_DOCUMENT_17,307511,int64,0,0.000000
FLAG_DOCUMENT_18,307511,int64,0,0.000000
FLAG_DOCUMENT_19,307511,int64,0,0.000000
FLAG_DOCUMENT_20,307511,int64,0,0.000000
FLAG_DOCUMENT_21,307511,int64,0,0.000000
AMT_REQ_CREDIT_BUREAU_HOUR,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_DAY,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_WEEK,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_MON,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_QRT,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_YEAR,265992,float64,41519,13.501631

In [5]:
# listing the null values columns having more than 30%
high_null_count=loan_data[loan_data.Null_Percentage>=50]
high_null_count

                          Total_Element Datatype  Null_Count  Null_Percentage
OWN_CAR_AGE                      104582  float64      202929        65.990810
EXT_SOURCE_1                     134133  float64      173378        56.381073
APARTMENTS_AVG                   151450  float64      156061        50.749729
BASEMENTAREA_AVG                 127568  float64      179943        58.515956
YEARS_BUILD_AVG                  103023  float64      204488        66.497784
COMMONAREA_AVG                    92646  float64      214865        69.872297
ELEVATORS_AVG                    143620  float64      163891        53.295980
ENTRANCES_AVG                    152683  float64      154828        50.348768
FLOORSMIN_AVG                     98869  float64      208642        67.848630
LANDAREA_AVG                     124921  float64      182590        59.376738
LIVINGAPARTMENTS_AVG              97312  float64      210199        68.354953
LIVINGAREA_AVG                   153161  float64      154350        50.193326
NONLIVINGAPARTMENTS_AVG           93997  float64      213514        69.432963
NONLIVINGAREA_AVG                137829  float64      169682        55.179164
APARTMENTS_MODE                  151450  float64      156061        50.749729
BASEMENTAREA_MODE                127568  float64      179943        58.515956
YEARS_BUILD_MODE                 103023  float64      204488        66.497784
COMMONAREA_MODE                   92646  float64      214865        69.872297
ELEVATORS_MODE                   143620  float64      163891        53.295980
ENTRANCES_MODE                   152683  float64      154828        50.348768
FLOORSMIN_MODE                    98869  float64      208642        67.848630
LANDAREA_MODE                    124921  float64      182590        59.376738
LIVINGAPARTMENTS_MODE             97312  float64      210199        68.354953
LIVINGAREA_MODE                  153161  float64      154350        50.193326
NONLIVINGAPARTMENTS_MODE          93997  float64      213514        69.432963
NONLIVINGAREA_MODE               137829  float64      169682        55.179164
APARTMENTS_MEDI                  151450  float64      156061        50.749729
BASEMENTAREA_MEDI                127568  float64      179943        58.515956
YEARS_BUILD_MEDI                 103023  float64      204488        66.497784
COMMONAREA_MEDI                   92646  float64      214865        69.872297
ELEVATORS_MEDI                   143620  float64      163891        53.295980
ENTRANCES_MEDI                   152683  float64      154828        50.348768
FLOORSMIN_MEDI                    98869  float64      208642        67.848630
LANDAREA_MEDI                    124921  float64      182590        59.376738
LIVINGAPARTMENTS_MEDI             97312  float64      210199        68.354953
LIVINGAREA_MEDI                  153161  float64      154350        50.193326
NONLIVINGAPARTMENTS_MEDI          93997  float64      213514        69.432963
NONLIVINGAREA_MEDI               137829  float64      169682        55.179164
FONDKAPREMONT_MODE                97216   object      210295        68.386172
HOUSETYPE_MODE                   153214   object      154297        50.176091
WALLSMATERIAL_MODE               151170   object      156341        50.840783

In [6]:
high_null_count.shape

(41, 4)

### <font color=blue> Analysis -We can remove above 41 columns where null values are greater than or equal to 50%. </font>

In [7]:
#Delete columns where missing values are more than or equal t0 50% .
drop_missing_value_col = high_null_count.index.tolist()
df.drop(drop_missing_value_col,inplace=True,axis=1)

In [8]:
df.shape

(307511, 81)

In [9]:
#checking the columns after removing high null values columns using user-defined function get_data
get_data(df)

,Total_Element,Datatype,Null_Count,Null_Percentage
SK_ID_CURR,307511,int64,0,0.000000
TARGET,307511,int64,0,0.000000
NAME_CONTRACT_TYPE,307511,object,0,0.000000
CODE_GENDER,307511,object,0,0.000000
FLAG_OWN_CAR,307511,object,0,0.000000
FLAG_OWN_REALTY,307511,object,0,0.000000
CNT_CHILDREN,307511,int64,0,0.000000
AMT_INCOME_TOTAL,307511,float64,0,0.000000
AMT_CREDIT,307511,float64,0,0.000000
AMT_ANNUITY,307499,float64,12,0.003902
AMT_GOODS_PRICE,307233,float64,278,0.090403
NAME_TYPE_SUITE,306219,object,1292,0.420148
NAME_INCOME_TYPE,307511,object,0,0.000000
NAME_EDUCATION_TYPE,307511,object,0,0.000000
NAME_FAMILY_STATUS,307511,object,0,0.000000
NAME_HOUSING_TYPE,307511,object,0,0.000000
REGION_POPULATION_RELATIVE,307511,float64,0,0.000000
DAYS_BIRTH,307511,int64,0,0.000000
DAYS_EMPLOYED,307511,int64,0,0.000000
DAYS_REGISTRATION,307511,float64,0,0.000000
DAYS_ID_PUBLISH,307511,int64,0,0.000000
FLAG_MOBIL,307511,int64,0,0.000000
FLAG_EMP_PHONE,307511,int64,0,0.000000
FLAG_WORK_PHONE,307511,int64,0,0.000000
FLAG_CONT_MOBILE,307511,int64,0,0.000000
FLAG_PHONE,307511,int64,0,0.000000
FLAG_EMAIL,307511,int64,0,0.000000
OCCUPATION_TYPE,211120,object,96391,31.345545
CNT_FAM_MEMBERS,307509,float64,2,0.000650
REGION_RATING_CLIENT,307511,int64,0,0.000000
REGION_RATING_CLIENT_W_CITY,307511,int64,0,0.000000
WEEKDAY_APPR_PROCESS_START,307511,object,0,0.000000
HOUR_APPR_PROCESS_START,307511,int64,0,0.000000
REG_REGION_NOT_LIVE_REGION,307511,int64,0,0.000000
REG_REGION_NOT_WORK_REGION,307511,int64,0,0.000000
LIVE_REGION_NOT_WORK_REGION,307511,int64,0,0.000000
REG_CITY_NOT_LIVE_CITY,307511,int64,0,0.000000
REG_CITY_NOT_WORK_CITY,307511,int64,0,0.000000
LIVE_CITY_NOT_WORK_CITY,307511,int64,0,0.000000
ORGANIZATION_TYPE,307511,object,0,0.000000
EXT_SOURCE_2,306851,float64,660,0.214626
EXT_SOURCE_3,246546,float64,60965,19.825307
YEARS_BEGINEXPLUATATION_AVG,157504,float64,150007,48.781019
FLOORSMAX_AVG,154491,float64,153020,49.760822
YEARS_BEGINEXPLUATATION_MODE,157504,float64,150007,48.781019
FLOORSMAX_MODE,154491,float64,153020,49.760822
YEARS_BEGINEXPLUATATION_MEDI,157504,float64,150007,48.781019
FLOORSMAX_MEDI,154491,float64,153020,49.760822
TOTALAREA_MODE,159080,float64,148431,48.268517
EMERGENCYSTATE_MODE,161756,object,145755,47.398304
OBS_30_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
DEF_30_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
OBS_60_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
DEF_60_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
DAYS_LAST_PHONE_CHANGE,307510,float64,1,0.000325
FLAG_DOCUMENT_2,307511,int64,0,0.000000
FLAG_DOCUMENT_3,307511,int64,0,0.000000
FLAG_DOCUMENT_4,307511,int64,0,0.000000
FLAG_DOCUMENT_5,307511,int64,0,0.000000
FLAG_DOCUMENT_6,307511,int64,0,0.000000
FLAG_DOCUMENT_7,307511,int64,0,0.000000
FLAG_DOCUMENT_8,307511,int64,0,0.000000
FLAG_DOCUMENT_9,307511,int64,0,0.000000
FLAG_DOCUMENT_10,307511,int64,0,0.000000
FLAG_DOCUMENT_11,307511,int64,0,0.000000
FLAG_DOCUMENT_12,307511,int64,0,0.000000
FLAG_DOCUMENT_13,307511,int64,0,0.000000
FLAG_DOCUMENT_14,307511,int64,0,0.000000
FLAG_DOCUMENT_15,307511,int64,0,0.000000
FLAG_DOCUMENT_16,307511,int64,0,0.000000
FLAG_DOCUMENT_17,307511,int64,0,0.000000
FLAG_DOCUMENT_18,307511,int64,0,0.000000
FLAG_DOCUMENT_19,307511,int64,0,0.000000
FLAG_DOCUMENT_20,307511,int64,0,0.000000
FLAG_DOCUMENT_21,307511,int64,0,0.000000
AMT_REQ_CREDIT_BUREAU_HOUR,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_DAY,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_WEEK,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_MON,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_QRT,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_YEAR,265992,float64,41519,13.501631

#### Analyize Columns Descriptions

In [10]:
#Removing unnecessary columns from dataframe

col_to_drop=['FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY','DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3','FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9','FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15','FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

df.drop(col_to_drop,inplace=True,axis=1)
df.shape

(307511, 52)

In [11]:
get_data(df)

,Total_Element,Datatype,Null_Count,Null_Percentage
SK_ID_CURR,307511,int64,0,0.000000
TARGET,307511,int64,0,0.000000
NAME_CONTRACT_TYPE,307511,object,0,0.000000
CODE_GENDER,307511,object,0,0.000000
FLAG_OWN_CAR,307511,object,0,0.000000
FLAG_OWN_REALTY,307511,object,0,0.000000
CNT_CHILDREN,307511,int64,0,0.000000
AMT_INCOME_TOTAL,307511,float64,0,0.000000
AMT_CREDIT,307511,float64,0,0.000000
AMT_ANNUITY,307499,float64,12,0.003902
AMT_GOODS_PRICE,307233,float64,278,0.090403
NAME_TYPE_SUITE,306219,object,1292,0.420148
NAME_INCOME_TYPE,307511,object,0,0.000000
NAME_EDUCATION_TYPE,307511,object,0,0.000000
NAME_FAMILY_STATUS,307511,object,0,0.000000
NAME_HOUSING_TYPE,307511,object,0,0.000000
REGION_POPULATION_RELATIVE,307511,float64,0,0.000000
DAYS_BIRTH,307511,int64,0,0.000000
DAYS_EMPLOYED,307511,int64,0,0.000000
DAYS_REGISTRATION,307511,float64,0,0.000000
DAYS_ID_PUBLISH,307511,int64,0,0.000000
OCCUPATION_TYPE,211120,object,96391,31.345545
CNT_FAM_MEMBERS,307509,float64,2,0.000650
WEEKDAY_APPR_PROCESS_START,307511,object,0,0.000000
HOUR_APPR_PROCESS_START,307511,int64,0,0.000000
REG_REGION_NOT_LIVE_REGION,307511,int64,0,0.000000
REG_REGION_NOT_WORK_REGION,307511,int64,0,0.000000
LIVE_REGION_NOT_WORK_REGION,307511,int64,0,0.000000
REG_CITY_NOT_LIVE_CITY,307511,int64,0,0.000000
REG_CITY_NOT_WORK_CITY,307511,int64,0,0.000000
LIVE_CITY_NOT_WORK_CITY,307511,int64,0,0.000000
ORGANIZATION_TYPE,307511,object,0,0.000000
EXT_SOURCE_2,306851,float64,660,0.214626
EXT_SOURCE_3,246546,float64,60965,19.825307
YEARS_BEGINEXPLUATATION_AVG,157504,float64,150007,48.781019
FLOORSMAX_AVG,154491,float64,153020,49.760822
YEARS_BEGINEXPLUATATION_MODE,157504,float64,150007,48.781019
FLOORSMAX_MODE,154491,float64,153020,49.760822
YEARS_BEGINEXPLUATATION_MEDI,157504,float64,150007,48.781019
FLOORSMAX_MEDI,154491,float64,153020,49.760822
TOTALAREA_MODE,159080,float64,148431,48.268517
EMERGENCYSTATE_MODE,161756,object,145755,47.398304
OBS_30_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
DEF_30_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
OBS_60_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
DEF_60_CNT_SOCIAL_CIRCLE,306490,float64,1021,0.332021
AMT_REQ_CREDIT_BUREAU_HOUR,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_DAY,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_WEEK,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_MON,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_QRT,265992,float64,41519,13.501631
AMT_REQ_CREDIT_BUREAU_YEAR,265992,float64,41519,13.501631